node_modules/
dist/
dist-ssr/
*.local
.env
.env.development.local
.env.test.local
.env.production.local
.env.prod
prisma.config.ts
.env.copy
.env copy
AGENTS.md
face recognition.md
/agent

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

/uploads
/generated
/prisma/
/exports

/.agents/
/docs/
/plans/
/scripts/
